<li><a href="#" style="font-size: 20px; font-weight: bold">Achat</a></li>
<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Achats </a>
    <ul class="dropdown-menu">
        <li><a href="{{ path('odoo_connector_purchaseOrderLists') }}">Demande des prix</a></li>
        <li><a href="#">Bons de Commande</a></li>
        <li><a href="{{ path('odoo_connector_getProviders') }}">Fournisseurs</a></li>
        <li><a href="#">Articles</a></li>
        <li><a href="#">Variantes d'article</a></li>

    </ul>
<li><a href="#">Analyse</a></li>
    <li><a href="#">Contôle</a></li>
    <li><a href="#">Configuration</a></li>
</li>